#------------------------------------
	# Project
#------------------------------------

/projectOverrides.json
/auth.json
/libraries/ExpressionEngine/system/user/cache/*
/libraries/ExpressionEngine/system/user/config/license.key
/libraries/ExpressionEngine/system/user/addons/*
/libraries/ExpressionEngine/themes/user/*
/libraries/ExpressionEngine/system/user/templates/*





#------------------------------------
	# Tools
#------------------------------------

/fabCache/*
configLocal.json
localStorage/*
!localStorage/dbBackups
localStorage/dbBackups/*
bower_components/
node_modules/
out/
.bundle
.idea/
.komodotools
.project
.settings/
.tern-project
.tmproj
*.esproj
*.komodoproject
*.sublime-*
browserstack.js
codekit-config.json
mixture.json
prepros.json





#------------------------------------
	# System
#------------------------------------

assetsSource/coreFAB/compileCache/*
projectOverrides.json
.cache
.DS_Store
.tmp
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
error_log
Thumbs.db
Homestead.yaml
vendor/*
*.vagrant
libraries/ExpressionEngine/images/captchas/*
!libraries/ExpressionEngine/images/captchas/index.html





#------------------------------------
	# Gitkeep
#------------------------------------

!.gitkeep
